<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>DateVisitMap</servlet-name>
        <servlet-class>com.myigou.mainView.achieve.DateVisitMap</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DateVisitMap</servlet-name>
        <url-pattern>/DateVisitMap</url-pattern>
    </servlet-mapping>
    <!--引用过滤器-->
    <filter>
        <filter-name>FilterDoPeth</filter-name>
        <filter-class>com.myigou.filter.FilterDoPeth</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDoPeth</filter-name>
        <url-pattern>/do/*</url-pattern>
    </filter-mapping>
    <!--引用servlet-->
    <servlet>
        <servlet-name>ServletMessageLeiDaoImp</servlet-name>
        <servlet-class>com.myigou.servlet.ServletMessageLeiDaoImp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletMessageLeiDaoImp</servlet-name>
        <url-pattern>/do/ServletMessageLeiDaoImp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Forwards</servlet-name>
        <servlet-class>com.myigou.servlet.Forwards</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Forwards</servlet-name>
        <url-pattern>/do/Forwards</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Land</servlet-name>
        <servlet-class>com.myigou.servlet.Land</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Land</servlet-name>
        <url-pattern>/Land</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletPm_categoryDaoImp</servlet-name>
        <servlet-class>com.myigou.servlet.ServletPm_categoryDaoImp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPm_categoryDaoImp</servlet-name>
        <url-pattern>/do/ServletPm_categoryDaoImp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletPm_content_picsDaoImp</servlet-name>
        <servlet-class>com.myigou.servlet.ServletPm_content_picsDaoImp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPm_content_picsDaoImp</servlet-name>
        <url-pattern>/do/ServletPm_content_picsDaoImp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletPm_contentDaoImp</servlet-name>
        <servlet-class>com.myigou.servlet.ServletPm_contentDaoImp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPm_contentDaoImp</servlet-name>
        <url-pattern>/do/ServletPm_contentDaoImp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletPm_categoryDaoImpBGURL</servlet-name>
        <servlet-class>com.myigou.servlet.ServletPm_categoryDaoImpBGURL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPm_categoryDaoImpBGURL</servlet-name>
        <url-pattern>/do/ServletPm_categoryDaoImpBGURL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletPm_content_picsDaoImpBGURL</servlet-name>
        <servlet-class>com.myigou.servlet.ServletPm_content_picsDaoImpBGURL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPm_content_picsDaoImpBGURL</servlet-name>
        <url-pattern>/do/ServletPm_content_picsDaoImpBGURL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletPm_contentDaoImpBGURL</servlet-name>
        <servlet-class>com.myigou.servlet.ServletPm_contentDaoImpBGURL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPm_contentDaoImpBGURL</servlet-name>
        <url-pattern>/do/ServletPm_contentDaoImpBGURL</url-pattern>
    </servlet-mapping>
</web-app>